body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #5ba2b4;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    display: flex;
    width: 100%;
    margin: 20px;
    padding: 20px;
    /* border: 1px solid #ccc; */

}

form {
    display: flex;
    margin-bottom: 10px;
    padding: 10px;
    width: 50%;



}

input[type="text"] {
    flex-grow: 1;
    padding: 10px;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

#weather-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    color: #e0e0e0;
    width: 50%;
    padding: 20px;
    border: 2px solid #ffffff;
    background-color: #89a4dc;
}

h2 {
    font-size: 30px;

}

.icon {
    margin-top: -10px;
}

.days-forecast h2 {
    font-size: 1.5rem;
    margin: 20px 0;

}

.days-forecast {
    padding: 20px 16%;
}


.weather-cards {
    display: flex;
    gap: 20px;
}

.cards {
    background-color: #8cbeec;
    list-style: none;
    color: #fffdfd;
    padding: 18px 16px;
    border-radius: 5px;
    width: calc(100% / 5);
}

.weather-cards image {
    max-width: 70px;
    margin: 5px 0 -12px 0;
}

#search-history{
    list-style: none;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    
}
#search-history li{
    list-style: none;
    margin-bottom: 10px;
    background-color: #9e9b9b;
    /* width: 100%; */
    padding: 8px;
    border-radius: 5px;

}

/* Responsive */

@media (max-width: 1400px) {
    .weather-cards form {
        padding: 20px;
    }

    .weather-cards {
        flex-wrap: wrap;
    }

    .cards {
        width: calc(100% / 4 - 15px);
    }

}

@media (max-width: 1200px) {

    .weather-cards .cards {
        width: calc(100% / 3 - 15px);
    }

}

@media (max-width: 950px) {

    .weather-cards .cards {
        width: calc(100% / 2 - 10px);
    }

    form {
        width: 450px;
    }

}

@media (max-width: 750px) {

    main {
        flex-wrap: wrap;
        padding: 15px;
    }

    form {
        width: 100%;
    }

}